services:
  backend:
    build: ./backend
    container_name: ${COMPOSE_PROJECT_NAME}-backend
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      db:
        condition: service_healthy
    networks:
      - main_net

  db:
    image: postgres:15-alpine
    container_name: ${COMPOSE_PROJECT_NAME}-db
    env_file: .env
    # TO BE DELETED LATER. DEBUGGING
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - main_net

networks:
  main_net:
    driver: bridge

volumes:
  postgres_data:
    driver: local